body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #999;
	font-size: 100%;
}
header,
main,
footer {
	background-color: #ddd;
	font-size: 1.6em;
}
header {
	padding: 1.875em 0;
}
.imagesize {
	width: 650px;
	height: 500px;
}

#cityname {
	color:#5ac46d;
}